<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SerialPortName" value="COM4" />
    <add key="SerialPortBaudRate" value="9600" />
    <add key="RedisHost" value="49.235.205.146" />
    <add key="RedisPort" value="6379" />
    <add key="RedisPassword" value="1BVytcXQqph" />
  </appSettings>
</configuration>